[submodule "abc"]
	path = abc
	url = git@github.com:berkeley-abc/abc.git
[submodule "submodules/abc"]
	path = submodules/abc
	url = git@github.com:berkeley-abc/abc.git
[submodule "submodules/benchmarks"]
	path = submodules/benchmarks
	url = git@github.com:lsils/benchmarks.git
